In [3]:
import pandas as pd
import json
import requests
import numpy as np

# Gatharing

In [ ]:

url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
page = requests.get(url)
with open("image_predictions.tsv","w") as f:
    f.write(page.text)

In [ ]:
dict_json = {'tweet_id':[],'retweet_count':[],'favorite_count':[]}
with open("tweet_json.txt","r") as f:
    lines  = f.readlines()
    for line in lines:
        line_json = json.loads(line)
        #print(line_json.keys())
        dict_json['retweet_count'].append(line_json['retweet_count'])
        dict_json['favorite_count'].append(line_json['favorite_count'])
        dict_json['tweet_id'].append(line_json['id'])        
        #break
df_json = pd.DataFrame(dict_json)
df_json.to_csv("tweet_json.csv",index=False)

# Asses

In [4]:
df_Archive = pd.read_csv("twitter_archive_enhanced.csv")
df_Archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [11]:
df_Archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [5]:
df_img = pd.read_csv("image_predictions.tsv","\t")
df_img.head(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

In [12]:
df_img.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [6]:
df_count = pd.read_csv("tweet_json.csv")
df_count.head(1)

             tweet_id  retweet_count  favorite_count
0  892420643555336193           8853           39467

In [13]:
df_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   retweet_count   2354 non-null   int64
 2   favorite_count  2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

In [7]:
df1 = pd.merge(df_Archive, df_img, on = "tweet_id", how = "inner")
df = pd.merge(df1, df_count, on = "tweet_id", how = "inner")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073 entries, 0 to 2072
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2073 non-null   int64
 1   in_reply_to_status_id       23 non-null     float64
 2   in_reply_to_user_id         23 non-null     float64
 3   timestamp                   2073 non-null   object
 4   source                      2073 non-null   object
 5   text                        2073 non-null   object
 6   retweeted_status_id         79 non-null     float64
 7   retweeted_status_user_id    79 non-null     float64
 8   retweeted_status_timestamp  79 non-null     object
 9   expanded_urls               2073 non-null   object
 10  rating_numerator            2073 non-null   int64
 11  rating_denominator          2073 non-null   int64
 12  name                        2073 non-null   object
 13  doggo                       2073 non-null   object
 14  floofer                     2073 non-null   object
 15  pupper                      2073 non-null   object
 16  puppo                       2073 non-null   object
 17  jpg_url                     2073 non-null   object
 18  img_num                     2073 non-null   int64
 19  p1                          2073 non-null   object
 20  p1_conf                     2073 non-null   float64
 21  p1_dog                      2073 non-null   bool
 22  p2                          2073 non-null   object
 23  p2_conf                     2073 non-null   float64
 24  p2_dog                      2073 non-null   bool
 25  p3                          2073 non-null   object
 26  p3_conf                     2073 non-null   float64
 27  p3_dog                      2073 non-null   bool
 28  retweet_count               2073 non-null   int64
 29  favorite_count              2073 non-null   int64
dtypes: bool(3), float64(7), int64(6), object(14)
memory usage: 459.5+ KB

In [8]:
df.drop(['in_reply_to_status_id', 'in_reply_to_user_id','source',
         'retweeted_status_id','retweeted_status_user_id','retweeted_status_timestamp'], axis = 1,inplace=True)

In [9]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [10]:
df=df.replace({'None':np.NaN})
df["classification"] = df[['doggo', 'floofer',"puppo","pupper"]].fillna("").agg(''.join, axis=1)
df=df.replace({'':np.NaN})
df.drop(['doggo', 'floofer',"puppo","pupper"], axis = 1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2073 entries, 0 to 2072
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2073 non-null   int64
 1   timestamp           2073 non-null   datetime64[ns, UTC]
 2   text                2073 non-null   object
 3   expanded_urls       2073 non-null   object
 4   rating_numerator    2073 non-null   int64
 5   rating_denominator  2073 non-null   int64
 6   name                1496 non-null   object
 7   jpg_url             2073 non-null   object
 8   img_num             2073 non-null   int64
 9   p1                  2073 non-null   object
 10  p1_conf             2073 non-null   float64
 11  p1_dog              2073 non-null   bool
 12  p2                  2073 non-null   object
 13  p2_conf             2073 non-null   float64
 14  p2_dog              2073 non-null   bool
 15  p3                  2073 non-null   object
 16  p3_conf             2073 non-null   float64
 17  p3_dog              2073 non-null   bool
 18  retweet_count       2073 non-null   int64
 19  favorite_count      2073 non-null   int64
 20  classification      320 non-null    object
dtypes: bool(3), datetime64[ns, UTC](1), float64(3), int64(6), object(8)
memory usage: 313.8+ KB

In [14]:
df_Archive['name'].value_counts()

None       745
a           55
Charlie     12
Cooper      11
Lucy        11
          ...
Lupe         1
Kuyu         1
Bloo         1
Teddy        1
Yoda         1
Name: name, Length: 957, dtype: int64

# Notes on `Archive table (df)`
- last 4 coloumns type
- Missing data at expanded_urls
- Explore coloumn 1,2,6,7,8